// https://material.io/develop/android/theming/dark/
$color-background: #121212;
$appbar-background-color: #1F1F1F;
$color-text-high: #DEFFFFFF;
$color-text-normal: #99FFFFFF;
$color-text-weak: #61FFFFFF;